* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 3rem;
    font-family: Poppins, Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

#results {
    text-align: left;
}

ul {
    list-style: none;
}

li {
    padding: 0.125rem;
}

a {
    color: black;
}

a:hover {
    background-color: #ffd54b;
}

input {
    padding: 1rem;
    width: 400px;
}
